<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card Input</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/fraud_input.css') }}">
</head>
<body>
    <!-- Main Content -->
    <div class="input-container">
        <h2>Enter the credit card number for the transaction</h2>
        <form method="post" action="/db/fraud/{secret_id}">
            <div class="form-group">
                <label for="transaction_id">Transaction ID:</label>
                <input type="text" id="transaction_id" name="transaction_id" required>
            </div>
            <div class="form-group">
                <label for="issuer">Name of the issuer:</label>
                <input type="text" id="issuer" name="issuer" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
