<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Incorrect</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/spooky.css') }}">
</head>
<body>
    <div class="container">
        <h1>Password Incorrect</h1>
        <p>It seems you've entered the wrong password.</p>
        <p>Are you suppose to be here?</p>
      
    </div>
</body>
</html>
